.footer{
  @include center-content();
  width: 100%;
  padding: 1rem 0rem;
  background-image: linear-gradient(to bottom, white 45%, darken($header-color, 17%));
  z-index: 1001;

  &__figure-logo{
    width: 135px;

    @include mq($s-size){ 
      width: 115px;
    }

    @include mq($xs-size){
      width: 100px;
    }
  }

  &__logo{
    width: 100%;
    height: auto;
  }
}