$theme-color: #D16A2B;
$header-color: whitesmoke;
$font-color: #000;
$theme-border: 2px solid  $theme-color;
$loading-color: #6495ED;

//responsive design
$xs-size: 375px;
$s-size: 640px;
$m-size: 768px;
$l-size: 1024px;
$xl-size: 1280px;

